.container{
    height: 700px;
    width : 504px;
    border: 2px solid black;
    background-color: red;
    display: grid;
     grid-template-rows: 30px 1fr 30px;
    grid-template-columns: 100px 400px; 
    grid-gap: 4px;
    grid-template-areas:
    "header header"
    "side main"
    "footer footer";
}
 .box{
     border: 1px solid blue;
    background-color:  yellow; 
    /* width: 100px;
    height: 100px; */
} 
 
#Header{
    background-color: brown;
    grid-area: header;
}
#sidebar{
    background-color: blue;
    grid-area: side;
}
#content{
    background-color: yellow;
    grid-area: main;
}
#footer{
    background-color: green;
    grid-area: footer;
}
/*#box1{
     grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3; 

     grid-area: 1/1/3/3 ; 
 }  */ 